@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);

.tutorFont{
  font-family: 'Architects Daughter', cursive;
  font-weight: 400;
}

.myform i{
  color: gray !important;
  position: absolute;
  top: 18px;
  left: 20px;
}
.myform input{
  font-size: 1.3em;
  height: 3em;
}
::-webkit-input-placeholder {
  color: gray;
}
:-moz-placeholder {
   color: gray;
}
::-moz-placeholder {
   color: gray;
}
:-ms-input-placeholder {
   color: gray;
}

#nav-bar-logo
{
    width: 10rem;
    margin:.5rem;
    /*padding-top: .8rem;*/
    /*padding-bottom: 1rem;*/
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  /*line-height: 1.1;*/
    color: #212121;
}

/* h1 {
  font-size: 4.2rem;
  font-size: 4.2rem;
  line-height: 110%;
  margin: 2.1rem 0 1.68rem 0;
}

h2 {
  font-size: 3.56rem;
  font-size: 3.56rem;
  line-height: 110%;
  margin: 1.78rem 0 1.424rem 0;
}

h3 {
  font-size: 2.92rem;
  line-height: 110%;
  margin: 1.46rem 0 1.168rem 0;
}

h4 {
  font-size: 2.28rem;
  line-height: 110%;
  margin: 1.14rem 0 0.912rem 0;
}

h5 {
  font-size: 1.64rem;
  line-height: 110%;
  margin: 0.82rem 0 0.656rem 0;
}

h6 {
  font-size: 1rem;
  line-height: 110%;
  margin: 0.5rem 0 0.4rem 0;
} */


  /* label color */
   .input-field label {
     /*color: #000;*/
   }
   /* label focus color */
   .input-field input[type=text]:focus + label,
   .input-field input[type=email]:focus + label,
   .input-field input[type=password]:focus + label

   {
     color: #448AFF;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus,
   .input-field input[type=email]:focus,
   .input-field input[type=password]:focus
   {
     border-bottom: 1px solid #448AFF;
     box-shadow: 0 1px 0 0 #448AFF;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #448AFF;
   }


   /* valid color */
   .input-field input[type=text].valid {
     /*border-bottom: 1px solid #000;*/
     /*box-shadow: 0 1px 0 0 #000;*/
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     /*border-bottom: 1px solid #000;*/
     /*box-shadow: 0 1px 0 0 #000;*/
   }
