{% extends 'menu.html' %}

{% block conteudo %}
<!-- Formulário -->
<form action="#" method="post" accept-charset="utf-8">
  <fieldset>
    <div class="row">

      <div class="col s12 m10 offset-m1 l7 offset-l4 card-panel">

<!-- Malt -->
        <p class="flow-text grey-text center">Ingredients Register</p>
            <div class="input-field col s12 m6 l6">
              <a class="waves-effect waves-light btn" href="#!">Malt</a>
            </div>

<!-- Hops -->
            <div class="input-field col s12 m6 l6">
              <a class="waves-effect waves-light btn" href="#!">Hops</a>
            </div>

<!-- Yeasts -->
            <div class="input-field col s12 m6 l6">
              <a class="waves-effect waves-light btn" href="#!">Yeasts</a>
            </div>

<!-- Sugars -->
            <div class="input-field col s12 m6 l6">
              <a class="waves-effect waves-light btn" href="#!">Sugars</a>
            </div>

<!-- Additives -->
            <div class="input-field col s12 m12 l12">
              <a class="waves-effect waves-light btn" href="#!">Additives</a>
            </div>

        <div class="row">
        </div>
        <div class="row">
        </div>
      </div>
    </div>
  </fieldset>
</form>
{%endblock%}