{% extends 'menu.html' %}

{% block conteudo %}
{% load static%}
<!-- Formulário -->

<style>
    .home {
          background-image: url("{% static "/img/home_fundo.jpg" %}");
          background-size: contain;
    }
  </style>

<form action="#" method="post" accept-charset="utf-8" class="home">
    {% csrf_token%}
  <fieldset>
    <div class="row">

      <div class="col s12 m10 offset-m1 l7 offset-l4 card-panel">

<!-- Nome da Receita -->
        <p class="flow-text grey-text center">Recipe Register</p>
            <div class="input-field col s12 m12 l12">
              <input type="text" name="name" value="{{recipe.title}}" id="inomerecipe" autofocus />
              <label for="inomerecipe">Recipe Name</label>
            </div>
            <div class="input-field col s12 m12 l12">
              <input type="text" name="type" value="{{recipe.type_brew}}" id="itypebrew" autofocus />
              <label for="itypebrew">Type Brew</label>
            </div>


<!-- Nome do Malt -->
    		 <div class="input-field col s6 m6 l6">
           
            <select name='codmalt' >
              {% for malt in malts %}
                <option value="{{malt.id}}" {%if malt_selected.ingredient.id == malt.id%}selected{%endif%}>
                  {{malt.name}} ({{malt.unity|lower}})
                </option>
                {% endfor %}
            </select>
            <label for="inomemalt">Malt</label>
         </div>

<!-- Quantidade do Malt -->
         <div class="input-field col s3 m3 l3">
            <input type="number" name="maltquantity" value="{{malt_selected.quantity}}" id="iquantitymalt" />
            <label for="iquantitymalt">Quantity</label>
         </div>

<!-- Nome do Hops -->
        <div class="input-field col s6 m6 l6">

          <select name='codhop'>
              {% for hop in hops %}
                <option value="{{hop.id}}" {%if hop_selected.ingredient.id == hop.id%}selected{%endif%}>
                  {{hop.name}} ({{hop.unity|lower}})
                </option>
                {% endfor %}
            </select>
            <label for="inomeyeast">Hop</label>
        </div>

<!-- Quantidade do Hops -->
        <div class="input-field col s3 m3 l3">
           <input type="number" name="hopquantity" value="{{hop_selected.quantity}}" id="iquantityhops" />
           <label for="iquantityhops">Quantity</label>
        </div>

<!-- Nome do Yeast -->
            <div class="input-field col s6 m6 l6">
               <select name='codyeast'>
              {% for yeast in yeasts %}
                <option value="{{yeast.id}}" {%if yeast_selected.ingredient.id == yeast.id%}selected{%endif%}>
                  {{yeast.name}} ({{yeast.unity|lower}})
                </option>
                {% endfor %}
            </select>
              <label for="inomeyeast">Yeast</label>
            </div>

<!-- Quantidade do Yeast -->
            <div class="input-field col s3 m3 l3">
               <input type="number" name="yeastquantity" value="{{yeast_selected.quantity}}" id="iquantityyeast" />
               <label for="iquantityyeast">Quantity</label>
            </div>


<!-- Nome do Sugar -->
            <div class="input-field col s6 m6 l6">
              <select name='codsugar'>
              {% for sugar in sugars %}
                <option value="{{sugar.id}}" {%if sugar_selected.ingredient.id == sugar.id%}selected{%endif%}>
                  {{sugar.name}} ({{sugar.unity|lower}})
                </option>
                {% endfor %}
            </select>
              <label for="inomesugar">Sugar</label>
            </div>

<!-- Quantidade do Sugar -->
            <div class="input-field col s3 m3 l3">
               <input type="number" name="sugarquantity" value="{{sugar_selected.quantity}}" id="iquantitysugar" />
               <label for="iquantitysugar">Quantity</label>
            </div>


<!-- Nome do Additive -->
            <div class="input-field col s6 m6 l6">
                
                <select name='codadditive'>
                    {% for additive in additives %}
                      <option value="{{additive.id}}" {%if additive_selected.ingredient.id == additive.id%}selected{%endif%} >
                        {{additive.name}} ({{additive.unity|lower}})
                      </option>
                      {% endfor %}
                  </select>
              <label for="inomeadditive">Additive</label>
            </div>

<!-- Quantidade do Additive -->
            <div class="input-field col s3 m3 l3">
               <input type="number" name="quantityadditive" value="{{additive_selected.quantity}}" id="iquantityadditive" />
               <label for="iquantityadditive">Quantity</label>
            </div>

<!-- Descrição -->
          <div class="input-field col s12 m12 l12">
              <textarea type="text" id="description" name='description' rows="12" cols="36" maxlength="1000" class="materialize-textarea"></textarea>
              <label for="idescriptionfermenter">Description</label>
          </div>
      </div>

          <div class="row">
            <div class="col s12 m10 offset-m1 l7 offset-l4">
              <a type="submit" name="" value="Cancel" href="{% url 'view_recipes' %}" class="btn left amber accent-4"/>Cancel<a/>
              <input type="submit" name="" value="Submit" class="btn right amber accent-4"  />
            </div>
          </div>
      </div>
  </fieldset>
</form>

    {% endblock %}
