{% extends 'menu.html' %} 

{% block conteudo%}
<!-- Formulário -->
<form action="#" method="post" accept-charset="utf-8">
  <fieldset>
    <div class="row">

      <div class="col s12 m10 offset-m1 l7 offset-l4 card-panel">

<!-- Nome da Yeasts -->
        <p class="flow-text grey-text center">Yeasts Register</p>
            <div class="input-field col s12 m12 l12">
              <input type="text" name="yeastsname" value="" id="inomeyeasts" autofocus />
              <label for="inomeyeasts">Yeasts Name</label>
            </div>

<!-- Tipo do Yeasts -->
    		 <div class="input-field col s6 m6 l6">
            <input type="text" name="yeaststype" value="" id="itypeyeasts" />
            <label for="itypeyeasts">Type</label>
         </div>

<!-- Quantidade de Yeasts -->
         <div class="input-field col s3 m3 l3">
            <input type="number" name="yeastsquantity" value="" id="iquantityyeasts" />
            <label for="iquantityyeasts">Quantity</label>
         </div>

<!-- Tipo da medida -->
         <div class="col s3 m3 l3">
           <form>
            <div>
             <input type="radio" id="imeasuregramsyeasts" name="yeastsgrams" value="grams">
             <label for="imeasuregramsyeasts">Grams</label>

             <input type="radio" id="imeasurekilogramsyeasts" name="yeastskilograms" value="kilograms">
             <label for="imeasurekilogramsyeasts">Kilograms</label>

            </div>
           </form>
        </div>

<!-- Rendimento do Yeasts -->
        <div class="input-field col s6 m6 l6">
            <input type="number" name="yeastsattenuation" value="" id="iattenuationyeasts" />
            <label for="iattenuationyeasts">Attenuation</label>
        </div>

<!-- Floculação da Yeasts -->
        <div class="input-field col s3 m3 l3">
            <input type="text" name="yeastsflocculation" value="" id="iflocculationyeasts" />
            <label for="iflocculationyeasts">Flocculation</label>
        </div>

<!-- Tolerância Alcoólica da Yeasts -->
        <div class="input-field col s3 m3 l3">
            <input type="number" name="yeaststolerance" value="" id="itoleranceyeasts" />
            <label for="itoleranceyeasts">Alcohol Tolerance</label>
        </div>

<!-- Descrição -->
        <div class="input-field col s12 m12 l12">
            <textarea type="text" id="idescriptionfermenter" rows="12" cols="36" maxlength="250" class="materialize-textarea"></textarea>
            <label for="idescriptionfermenter">Description</label>
        </div>

        <div class="row">
            <div class="col s12 m10 offset-m1 l7 offset-l2">
              <input type="submit" name="" value="Cancel" class="btn left col offset-l2 amber accent-4"  />
              <input type="submit" name="" value="Submit" class="btn right col offset-l1 amber accent-4"  />
            </div>
          </div>
      </div>
  </fieldset>
</form>
{% endblock %}