
{% extends 'menu.html' %}
{% block conteudo%}
{% load static%}

<style>
    .home {
          background-image: url("{% static "/img/home_fundo.jpg" %}");
          background-size: contain;
    }
  </style>
<div class="home">  
<div class="row">
      <table>
          <thead>
            <tr>
               <th>ID</th>
              <th>Recipe</th>
              <th>Equipament</th>
            </tr>
          </thead>
          <body>
            {% for production in object_list %}
              <tr>
                <td>{{production.id}}</td>
                <td>{{production.recipe}}</td>
                <td>{{production.equipament}}</td>
              </tr>
            {%endfor%}
          </body>
        </table>
</div>
<div class="row">
  <a class="btn right amber accent-4" href="{% url 'production' %}">Production</a>
</div>
</div>
{% endblock %}
