
{% extends 'menu.html' %}
{% block conteudo%}

<div class="row">
      <table>
          <thead>
            <tr>
               <th>ID</th>
              <th>Recipe</th>
              <th>Equipament</th>
            </tr>
          </thead>
          <tbody>
            {% for production in object_list %}
              <tr>
                <td>{{production.id}}</td>
                <td>{{production.recipe}}</td>
                <td>{{production.equipament}}</td>
              </tr>
            {%endfor%}
          </tbody>
        </table> 
</div>
<div class="row">
  <a class="btn right amber accent-4" href="{% url 'production' %}">Production</a>
</div>
{% endblock %}
