{% extends 'menu.html' %}
{% block conteudo%}
{% load static%}
<style>
  .home {
        background-image: url("{% static "/img/home_fundo.jpg" %}");
        background-size: contain;
  }
</style>
<form action="#" method="post" accept-charset="utf-8" class="home">
  {% csrf_token%}
  <fieldset>
    <div class="row">

      <div class="col s12 m10 offset-m1 l7 offset-l4 card-panel">

      <p class="flow-text amber-text text-darken-2 center">Production</p>

<!-- Nome da Recipe: Escolha de uma receita já pré-cadastrado-->
            <div class="input-field col s12 m12 l12">
              <select name='codrecipe'>
              {% for recipe in recipes  %}
                <option value="{{recipe.id}}">
                  {{recipe.title}}
                </option>
                {% endfor %}
            </select>
            <label for="codequipment">Choose a Recipe</label>

            </div>

<!-- Nome do Equipamento: Escolha de um equipamento já pré-cadastrado-->
        <div class="input-field col s12 m12 l12">
          <select name='codequipment'>
            {% for equipment in equipments  %}
              <option value="{{equipment.id}}">
                {{equipment.name}}
              </option>
              {% endfor %}
          </select>
            <label for="inomefilter">Choose a Equipment</label>
        </div>

<!-- Ao pressionar o botão o usuário confirma a produção e o valor de cada
ingrediente contido na receita escolhida é subtraído dos ingredientes -->

        <div class="col s12 m12 l12" style="margin-top: 2%;margin-bottom: 3%;">
              <a type="cancel" href="{% url 'production_history' %}" value="Cancel" class="btn center amber accent-4"  style="margin-left: 25%;" />Cancel<a/>
              <input type="submit" name="" value="Submit" class="btn center amber accent-4"  style="margin-left: 12%;" />
        </div>

      </div>
  </fieldset>
</form>

{% endblock %}
