{% extends 'menu.html' %}
{% block conteudo %}
{% load static%}
<style>
  .home {
        background-image: url("{% static "/img/home_fundo.jpg" %}");
        background-size: contain;
  }
</style>
<!-- Formulário -->
<div class="home">
  <div class="row">
{%for prod in object_list %}
    <div class="col s12 m8 offset-m1 l7 offset-l4">
      <div class="card sticky-action">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img src="{% static "/img/fundo02.jpg" %}">
          </div>
          <div class="card-content">
            <span class="card-title activator amber-text text-darken-4">{{prod.date}}<i class="material-icons right ">more_vert</i></span>
            <p><i>{{prod.id_recipe}}</i></p>
            <p><i>{{prod.quantity_brew}} liters</i></p>
          </div>
          <div class="card-reveal">
            <span class="card-title center amber-text text-darken-4" style="margin-left: 20px;">"Info"<i class="material-icons black-text right">close</i></span>
            <p><a class="right" href="#">Remove</a></p>
          </div>

        </div>
      </div>
    </div>
{%endfor%}
  </div>
</div>
{%endblock%}
