{% extends 'menu.html' %}
{% block conteudo %}

<form action="" method="post">{% csrf_token %}
    <fieldset>
        <div class='row'>
                <div class="col s12 m10 offset-m1 l7 offset-l4 card-panel">
                        <p class="flow-text">Are you sure you want to delete recipe "<strong>{{ object }}</strong>"?</p>
                    </div>
                <input type="submit" value="Confirm" class="btn right amber accent-4"  />
                <a type="cancel" href="{% url 'view_recipes' %}" value="Cancel" class="btn right amber accent-4"  />Cancel<a/>
    
        </div>
</fieldset>
</form>

{% endblock %}
