{% extends 'menu.html' %}
{% block conteudo %}
<!-- Formulário -->
<form action="#" method="post" accept-charset="utf-8">
  {% csrf_token%}
  <fieldset>
    <div class="row">

      <div class="col s12 m10 offset-m1 l7 offset-l4 card-panel">

<!-- Nome do Malt -->
        <p class="flow-text grey-text center">Malt Register</p>
            <div class="input-field col s12 m12 l12">
              <input type="text" name="maltname" value="" id="inomemalt" autofocus />
              <label for="inomemalt">Malt Name</label>
            </div>

<!-- Tipo do Malt - Será pré-seleção
    		 <div class="input-field col s6 m6 l6">
            <input type="text" name="malttype" value="" id="itypemalt" />
            <label for="itypemalt">Type</label>
         </div> -->

<!-- Quantidade do Malt -->
         <div class="input-field col s3 m3 l3">
            <input type="number" name="maltquantity" value="" id="iquantitymalt" />
            <label for="iquantitymalt">Quantity</label>
         </div>

<!-- Tipo da medida -->
         <div class="col s3 m3 l3">
           <form>
            <div>
             <input type="radio" id="imeasuregramsmalt" name="maltgrams" value="grams">
             <label for="imeasuregramsmalt">Grams</label>

             <input type="radio" id="imeasurekilogramsmalt" name="maltkilograms" value="kilograms">
             <label for="imeasurekilogramsmalt">Kilograms</label>

            </div>
           </form>
        </div>

<!-- Rendimento do Malt
        <div class="input-field col s6 m6 l6">
            <input type="number" name="maltyield" value="" id="iyieldmalt" />
            <label for="iyieldmalt">Yield</label>
        </div> -->

<!-- SRM do Malt
        <div class="input-field col s3 m3 l3">
            <input type="number" name="maltsrm" value="" id="isrmmalt" />
            <label for="isrmmalt">SRM</label>
        </div> -->

<!-- Potencial do Malt
        <div class="input-field col s3 m3 l3">
            <input type="number" name="maltpotential" value="" id="ipotentialmalt" />
            <label for="ipotentialmalt">Potencial</label>
        </div> -->

<!-- Descrição
        <div class="input-field col s12 m12 l12">
            <textarea type="text" id="idescriptionfermenter" rows="12" cols="36" maxlength="250" class="materialize-textarea"></textarea>
            <label for="idescriptionfermenter">Description</label>
        </div>-->

        <div class="row">
            <div class="col s12 m10 offset-m1 l7 offset-l2">
              <a type="submit" name="" value="Cancel" href="{% url 'view_ingredients' %}" class="btn left amber accent-4"/>Cancel<a/>
              <input type="submit" name="" value="Submit" class="btn right col offset-l1 amber accent-4"  />
            </div>
          </div>
      </div>
  </fieldset>
</form>
{%endblock%}
