{% extends 'menu.html' %}
{% block conteudo %}
{% load static%}
<style>
  .home {
        background-image: url("{% static "/img/home_fundo.jpg" %}");
        background-size: contain;
  }
</style>
<!-- Formulário -->
<form action="#" method="post" accept-charset="utf-8" class="home">
  {% csrf_token%}
  <fieldset>
    <div class="row">

      <div class="col s12 m10 offset-m1 l7 offset-l4 card-panel">

<!-- Nome do Sugar -->
        <p class="flow-text grey-text center">Sugar Register</p>
            <div class="input-field col s12 m12 l12">
              <input type="text" name="sugarname" value="" id="inomesugar" autofocus />
              <label for="inomesugar">Sugar Name</label>
            </div>

<!-- Tipo do Sugar
    		 <div class="input-field col s6 m6 l6">
            <input type="text" name="sugartype" value="" id="itypesugar" />
            <label for="itypesugar">Type</label>
         </div> -->

<!-- Quantidade do Sugar -->
         <div class="input-field col s3 m3 l3">
            <input type="number" name="sugarquantity" value="" id="iquantitysugar" />
            <label for="iquantitysugar">Quantity</label>
         </div>

<!-- Tipo da medida -->
         <div class="col s3 m3 l3">
           <form>
            <div>
             <input type="radio" id="imeasuregramssugar" name="sugargrams" value="grams">
             <label for="imeasuregramssugar">Grams</label>

             <input type="radio" id="imeasurekilogramssugar" name="sugarkilograms" value="kilograms">
             <label for="imeasurekilogramssugar">Kilograms</label>

            </div>
           </form>
        </div>


<!-- Descrição
        <div class="input-field col s12 m12 l12">
            <textarea type="text" id="idescriptionfermenter" rows="12" cols="36" maxlength="250" class="materialize-textarea"></textarea>
            <label for="idescriptionfermenter">Description</label>
        </div> -->

        <div class="row">
            <div class="col s12 m10 offset-m1 l7 offset-l2">
              <a type="cancel" name="" value="Cancel" href="{% url 'view_ingredients' %}" class="btn left amber accent-4"/>Cancel<a/>
              <input type="submit" name="" value="Submit" class="btn right col offset-l1 amber accent-4"  />
            </div>
          </div>
      </div>
  </fieldset>
</form>
{%endblock%}
