{% extends 'menu.html' %}
{% block conteudo %}
{% load static%}
<style>
  .home {
        background-image: url("{% static "/img/home_fundo.jpg" %}");
        background-size: contain;
  }
</style>
<!-- Formulário -->
<form action="#" method="post" accept-charset="utf-8" class="home">


  {% csrf_token%}
  <fieldset>
    {% if msg %}
   <div class="card-panel  green darken-1">

       <p class="white-text text-darken-2">{{msg}}</p>

    </div>
   {%endif%}
    <div class="row">

      <div class="col s12 m10 offset-m1 l7 offset-l4 card-panel">

<!-- Nome do Hops -->
        <p class="flow-text grey-text center">Hops Register</p>
            <div class="input-field col s12 m12 l12">
              <input type="text" name="maltname" value="" id="inomemalt" autofocus />
              <label for="inomemalt">Hops Name</label>
            </div>

<!-- Tipo do Hops - Será pré-seleção
    		 <div class="input-field col s6 m6 l6">
            <input type="text" name="hopstype" value="" id="itypehops" />
            <label for="itypehops">Type</label>
         </div> -->

<!-- Quantidade do Hops -->
         <div class="input-field col s3 m3 l3">
            <input type="number" name="hopsquantity" value="" id="iquantityhops" />
            <label for="iquantityhops">Quantity</label>
         </div>

<!-- Tipo da medida -->
         <div class="col s3 m3 l3">
           <form>
            <div>
             <input type="radio" id="imeasuregramshops" name="hopsgrams" value="grams">
             <label for="imeasuregramshops">Grams</label>

             <input type="radio" id="imeasurekilogramshops" name="hopskilograms" value="kilograms">
             <label for="imeasurekilogramshops">Kilograms</label>

            </div>
           </form>
        </div>


<!--DESCRIÇÃO
        <div class="input-field col s12 m12 l12">
            <textarea type="text" id="idescriptionfermenter" name="maltdescription" rows="12" cols="36" maxlength="250" class="materialize-textarea"></textarea>
            <label for="idescriptionfermenter">Description</label>
        </div>-->

        <div class="row">
            <div class="col s12 m10 offset-m1 l7 offset-l2">
              <a type="cancel" name="" value="Cancel" href="{% url 'view_ingredients' %}" class="btn left amber accent-4"/>Cancel<a/>
              <input type="submit" name="" value="Submit" class="btn right col offset-l1 amber accent-4"  />
            </div>
          </div>
      </div>
  </fieldset>
</form>
{%endblock%}
