{% extends 'menu.html' %}
{% block conteudo %}
<!-- Formulário -->
<form action="#" method="post" accept-charset="utf-8">
  {% csrf_token%}
  <fieldset>
    <div class="row">

      <div class="col s12 m10 offset-m1 l7 offset-l4 card-panel">

<!-- Nome do Grinder-->
        <p class="flow-text grey-text center">Grinder Register</p>
            <div class="input-field col s12 m12 l12">
              <input type="text" name="grindername" value="" id="inomegrinder" autofocus />
              <label for="inomegrinder">Grinder Name</label>
            </div>

<!-- Tipo do Grinder 
    		 <div class="input-field col s6 m6 l6">
            <input type="text" name="grindertype" value="" id="itypegrinder" />
            <label for="itypegrinder">Type</label>
         </div> -->

<!-- Capacidade do Grinder -->
         <div class="input-field col s2 m2 l2">
            <input type="number" name="grindervolume" value="" id="ivolumegrinder" />
            <label for="ivolumefilter">Volume</label>
         </div>

<!-- Tipo da medida -->
<div class="col s4 m4 l4">
  <form>
   <div>
    <input type="radio" id="imeasurelitrefermenter" name="medida" value="L">
    <label for="imeasurelitrefermenter">Litre (l)</label>

    <input type="radio" id="imeasurecubicmetrefermenter" name="medida" value="M3">
    <label for="imeasurecubicmetrefermenter">Cubic metre (m³)</label>

    <input type="radio" id="imeasuregallonfermenter" name="medida" value="GAL">
    <label for="imeasuregallonfermenter">Gallon (gal)</label>

   </div>
  </form>
</div>


<!-- Descrição -->
        <div class="input-field col s12 m12 l12">
            <textarea type="text" id="idescriptionfermenter" rows="12" cols="36" maxlength="250" class="materialize-textarea"></textarea>
            <label for="idescriptionfermenter">Description</label>
        </div>

        <div class="row">
            <div class="col s12 m10 offset-m1 l7 offset-l2">
              <input type="submit" name="" value="Cancel" class="btn left col offset-l2 amber accent-4"  />
              <input type="submit" name="" value="Submit" class="btn right col offset-l1 amber accent-4"  />
            </div>
          </div>
      </div>
  </fieldset>
</form>

{%endblock%}