{% extends 'menu.html' %}

{% block conteudo %}
<!-- Formulário -->
<form action="#" method="post" accept-charset="utf-8">
    {% csrf_token%}
  <fieldset>
    <div class="row">

      <div class="col s12 m10 offset-m1 l7 offset-l4 card-panel">

<!-- Nome da Receita -->
        <p class="flow-text grey-text center">Recipe Register</p>
            <div class="input-field col s12 m12 l12">
              <input type="text" name="name" value="" id="inomerecipe" autofocus />
              <label for="inomerecipe">Recipe Name</label>
            </div>
            <div class="input-field col s12 m12 l12">
              <input type="text" name="type" value="" id="itypebrew" autofocus />
              <label for="itypebrew">Type Brew</label>
            </div>


<!-- Nome do Malt -->
    		 <div class="input-field col s6 m6 l6">
            <select name='codmalt'>
              <option value="" disabled selected>Select your option</option>
              {% for malt in malts %}
                <option value="{{malt.id}}">
                  {{malt.name}} ({{malt.unity|lower}})
                </option>
                {% endfor %}
            </select>
            <label for="inomemalt">Malt</label>
         </div>

<!-- Quantidade do Malt -->
         <div class="input-field col s3 m3 l3">
            <input type="number" name="maltquantity" value="" id="iquantitymalt" />
            <label for="iquantitymalt">Quantity</label>
         </div>

<!-- Tipo da medida
         <div class="col s3 m3 l3">
           <form>
            <div>
             <input type="radio" id="imeasuregramsmalt" name="maltgrams" value="grams">
             <label for="imeasuregramsmalt">Grams</label>

             <input type="radio" id="imeasurekilogramsmalt" name="maltkilograms" value="kilograms">
             <label for="imeasurekilogramsmalt">Kilograms</label>

            </div>
           </form>
        </div>-->

<!-- Nome do Hops -->
        <div class="input-field col s6 m6 l6">

          <select name='codhop'>
            <option value="" disabled selected>Select your option</option>
              {% for hop in hops %}
                <option value="{{hop.id}}">
                  {{hop.name}} ({{hop.unity|lower}})
                </option>
                {% endfor %}
            </select>
            <label for="inomeyeast">Hop</label>
        </div>

<!-- Quantidade do Hops -->
        <div class="input-field col s3 m3 l3">
           <input type="number" name="hopsquantity" value="" id="iquantityhops" />
           <label for="iquantityhops">Quantity</label>
        </div>

<!-- Tipo da medida
        <div class="col s3 m3 l3">
          <form>
           <div>
            <input type="radio" id="imeasuregramshops" name="hopsgrams" value="grams">
            <label for="imeasuremgramshops">Grams</label>

            <input type="radio" id="imeasurekilogramshops" name="hopskilograms" value="kilograms">
            <label for="imeasurekilogramshops">Kilograms</label>

           </div>
          </form>
       </div> -->

<!-- Nome do Yeast -->
            <div class="input-field col s6 m6 l6">
               <select name='codyeast'>
               <option value="" disabled selected>Select your option</option>
              {% for yeast in yeasts %}
                <option value="{{yeast.id}}">
                  {{yeast.name}} ({{yeast.unity|lower}})
                </option>
                {% endfor %}
            </select>
              <label for="inomeyeast">Yeast</label>
            </div>

<!-- Quantidade do Yeast -->
            <div class="input-field col s3 m3 l3">
               <input type="number" name="yeastquantity" value="" id="iquantityyeast" />
               <label for="iquantityyeast">Quantity</label>
            </div>

<!-- Tipo da medida
            <div class="col s3 m3 l3">
              <form>
               <div>
                <input type="radio" id="imeasuregramsyeast" name="yeastgrams" value="grams">
                <label for="imeasuremgramsyeast">Grams</label>

                <input type="radio" id="imeasurekilogramsyeast" name="yeastkilograms" value="kilograms">
                <label for="imeasurekilogramsyeast">Kilograms</label>

               </div>
              </form>
            </div>-->

<!-- Nome do Sugar -->
            <div class="input-field col s6 m6 l6">
              <select name='codsugar'>
              <option value="" disabled selected>Select your option</option>
              {% for sugar in sugars %}
                <option value="{{sugar.id}}">
                  {{sugar.name}} ({{sugar.unity|lower}})
                </option>
                {% endfor %}
            </select>
              <label for="inomesugar">Sugar</label>
            </div>

<!-- Quantidade do Sugar -->
            <div class="input-field col s3 m3 l3">
               <input type="number" name="sugarquantity" value="" id="iquantitysugar" />
               <label for="iquantitysugar">Quantity</label>
            </div>

<!-- Tipo da medida
            <div class="col s3 m3 l3">
              <form>
               <div>
                <input type="radio" id="imeasuregramssugar" name="sugargrams" value="grams">
                <label for="imeasuremgramssugar">Grams</label>

                <input type="radio" id="imeasurekilogramssugar" name="sugarkilograms" value="kilograms">
                <label for="imeasurekilogramssugar">Kilograms</label>

               </div>
              </form>
            </div>-->


<!-- Nome do Additive -->
            <div class="input-field col s6 m6 l6">
                <select name='codadditive'>
                  <option value="" disabled selected>Select your option</option>
                    {% for additive in additives %}
                      <option value="{{additive.id}}">
                        {{additive.name}} ({{additive.unity|lower}})
                      </option>
                      {% endfor %}
                  </select>
              <label for="inomeadditive">Additive</label>
            </div>

<!-- Quantidade do Additive -->
            <div class="input-field col s3 m3 l3">
               <input type="number" name="additivequantity" value="" id="iquantityadditive" />
               <label for="iquantityadditive">Quantity</label>
            </div>

<!-- Tipo da medida
            <div class="col s3 m3 l3">
              <form>
               <div>
                <input type="radio" id="imeasuregramsadditive" name="additivegrams" value="grams">
                <label for="imeasuremgramsadditive">Grams</label>

                <input type="radio" id="imeasurekilogramsadditive" name="additivekilograms" value="kilograms">
                <label for="imeasurekilogramsadditive">Kilograms</label>

               </div>
              </form>
            </div>-->

<!-- Descrição -->
          <div class="input-field col s12 m12 l12">
              <textarea type="text" id="description" name='description' rows="12" cols="36" maxlength="500" class="materialize-textarea"></textarea>
              <label for="idescriptionfermenter">Description</label>
          </div>
      </div>

          <div class="row">
            <div class="col s12 m10 offset-m1 l7 offset-l4">
              <a type="cancel" name="" value="Cancel" href="{% url 'view_recipes' %}" class="btn left amber accent-4"/>Cancel<a/>
              <input type="submit" name="" value="Submit" class="btn right amber accent-4"  />
            </div>
          </div>
      </div>
  </fieldset>
</form>

    {% endblock %}
