{% extends 'menu.html' %}
{% block conteudo %}
{% load static%}
<style>
  .home {
        background-image: url("{% static "/img/home_fundo.jpg" %}");
        background-size: contain;
  }
</style>
<!-- Formulário -->
<div class="home">
  <div class="row">
    {% for equip in object_list %}
    <div class="col s12 m8 offset-m1 l7 offset-l4">
      <div class="card sticky-action">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img src="{% static "/img/fundo_equipments.jpeg" %}">
          </div>
<!--          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{equip.name}} - ({{equip.type_equipment}})<i class="material-icons right">more_vert</i></span>
            <p><a href="#">Edit</a><a class="right" href="#">Remove</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Equipment 1<i class="material-icons right">close</i></span>
            <p>Here is some more information about this equipment that is only revealed once clicked on.</p>
          </div>
-->
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{equip.name}} - ({{equip.type_equipment}})<i class="material-icons right ">more_vert</i></span>
          </div>
          <div class="card-reveal center">
            <span class="card-title center grey-text text-darken-4" style="margin-left: 40px;">{{equip.name}} - ({{equip.type_equipment}})<i class="material-icons right">close</i></span>
            <p><a class="" href="{% url 'edit_equipments' pk=equip.id %}">Edit</a></p>
            <p><a class="" href="{% url 'delete_equipment' pk=equip.id %}">Remove</a></p></br>
            <p><i>{{equip.description}}</i></p>
          </div>

        </div>
      </div>
    </div>
    {%endfor%}
  </div>
</div>
{%endblock%}
