{% extends 'menu.html' %}
{% block conteudo%}
{% load static%}
<style>
  .home {
        background-image: url("{% static "/img/home_fundo.jpg" %}");
        background-size: contain;

  }
  .imagemcard {
    height: 400px;
    width: 400px;
  }
</style>
<!-- Formulário -->
  <div class="row home">
    {% for recipe in object_list %}
    <div class="col s12 m8 offset-m1 l7 offset-l4">
      <div class="card sticky-action">
        <div class="card small">
          <div class="card-image waves-effect waves-block waves-light">
            <img id="imagemcard" src="{% static "/img/fundo042.jpg" %}">
          </div>
<!--
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{recipe.title}}<i class="material-icons right">more_vert</i></span>
            <p><a href="#">Edit</a><a class="right" href="{% url 'delete_recipe' pk=recipe.id %}">Remove</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Recipe 1<i class="material-icons right">close</i></span>
            <p>{{recipe.description}}</p>
          </div>
-->
          <div class="card-content">
            <span class="card-title center amber-text text-darken-4">{{recipe.title}}<i class="material-icons black-text right activator">more_vert</i></span>
          </div>
          <div class="card-reveal center">
            <span class="card-title center amber-text text-darken-4" style="margin-left: 40px;">{{recipe.title}}<i class="material-icons black-text right">close</i></span></br>
            <p><a class="" href="{% url 'edit_recipes' pk=recipe.id %}">Edit</a></p>
            <p><a class="" href="{% url 'delete_recipe' pk=recipe.id %}">Remove</a></p></br>
            <!--<p><a class="right" href="{% url 'recipe_view' pk=recipe.id %}">View More</a></p></br>-->
            <p class="center"><i>{{recipe.description}}</i></p></br>
            {% for ing in recipe.ingredients.all %}
            <p> <li class="center">{{ing.name}}</li> </p>
            {%endfor%}
          </div>

        </div>
      </div>
    </div>
    {%endfor%}

  </div>
{% endblock %}
