{% extends 'menu.html' %}
{% block conteudo%}
<!-- Formulário -->
  <div class="row">
    {% for recipe in object_list %}
    <!-- {% for ing in recipe.ingredients.all %} -->
    <div class="col s12 m8 offset-m1 l7 offset-l4">
      <div class="card sticky-action">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <i class="large material-icons">playlist_add_check</i>
          </div>
<!--
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{recipe.title}}<i class="material-icons right">more_vert</i></span>
            <p><a href="#">Edit</a><a class="right" href="{% url 'delete_recipe' pk=recipe.id %}">Remove</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Recipe 1<i class="material-icons right">close</i></span>
            <p>{{recipe.description}}</p>
          </div>
-->
          <div class="card-content">
            <span class="card-title grey-text text-darken-4">{{recipe.title}}<i class="material-icons right activator">more_vert</i></span>
            <p><i>{{recipe.description}}</i></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{recipe.title}}<i class="material-icons right">close</i></span>
            <!--<p><a class="right" href="{% url 'recipe_view' pk=recipe.id %}">View More</a></p></br>-->
            <p> <li>{{ing.name}} </li> </p></br>
            <p><a class="right" href="#">Edit</a></p></br>
            <p><a class="right" href="{% url 'delete_recipe' pk=recipe.id %}">Remove</a></p>
          </div>

        </div>
      </div>
    </div>
    <!-- {%endfor%} -->
    {%endfor%}

  </div>
{% endblock %}
