{% extends 'menu.html' %} 
{% block conteudo%}{% load static%}
<style>
  .home {
        background-image: url("{% static "/img/home_fundo.jpg" %}");
        background-size: contain;
  }
</style>
<!-- Formulário -->
<div class="home">
<div class="row">
    <div class="col s12 m8 offset-m1 l7 offset-l4">
        <h2>{{object.title}}</h2>
        <h5>{{object.description}}</h5>
        
        <ul>
        {% for ing in object.ingredients.all %}
        <li>{{ing.name}} <!--({{ing.type_ingredient}})--></li>
        {%endfor%}
        </ul>
    </div>
</div>
</div>


{%endblock%}